body {
    color: #444; 
}
body > div {
    margin: 70px 0;
}
.h1 {
    margin-bottom: 30px;
}

:root {
    --main-color: #db2d2d;
}

.navbar {
    margin: 0;
}
.navbar-default {
    background-color: #222;
    border: none;
    border-radius: 0;
}
.navbar-default .navbar-brand {
    color: #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
.navbar-default .navbar-brand span {
    color: var(--main-color);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #999;
}
.navbar-default .navbar-nav>li>a {
    color: #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 24px;
    
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #999;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: var(--main-color);
    color: #fff;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}


.slides {
    margin-top: 0;
}
.slides .carousel-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(2,2,2,0.6);
    z-index: 10000;
}
.slides .carousel-caption,
.slides .carousel-indicators,
.carousel-control.left,
.carousel-control.right {
    z-index: 10001;
}
.slides .carousel-inner>.item .carousel-image {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
}
.slides .carousel-inner>.item img {
    max-height: 100%;
}
.slides .carousel-caption {
    bottom: 170px;
}
.slides .carousel-caption h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 12px;
}

.slides .carousel-indicators li {
    width: 15px;
    height: 15px;
    margin-right: 3px;
}
.slides .carousel-indicators li.active {
    width: 17px;
    height: 17px;
    background-color: var(--main-color);
}


.about {
    margin: 50px 0;
}
.about h2 {
    font-size: 40px;
}
.about h2 span {
    color: var(--main-color);
}


.features {
    background-color: #eee;
    padding: 30px 0 45px;
}
.features .feature-item .glyphicon {
    font-size: 24px;
    color: var(--main-color);
}
.features .feature-item h3 {
    margin-top: 5px;
}
.features .feature-item p {
    line-height: 1.6;
}

.testimonials .item p.lead {
    margin-bottom: 10px;
    line-height: 1.5;
}
.testimonials .item span {
    color: var(--main-color);
    font-weight: bold;
    display: block;
    margin-bottom: 25px;
}
.testimonials .carousel-indicators {
    bottom: -120px;
    left: 30%;
    width: 100%;
}
.testimonials .carousel-indicators li {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 10px;
    background-position: center center;
    background-size: cover;
    opacity: .5;
    transition: width .5s, height .5s, opacity .5s;
}
.testimonials .carousel-indicators li.active {
    width: 78px;
    height: 78px;
    border-color: var(--main-color);
    opacity: 1; 
}


.prices {
    margin-top: 160px;
    padding: 40px 0;
    background-color: #eee;
}
.prices .price-item {
    background-color: #fff;
    padding: 30px 0;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;

}
.prices .price-item h2 {
    margin-top: 0;
}
.prices .price-item p {
    width: 100PX;
    height: 100px;
    line-height: 100px;
    margin: auto;
    border-radius: 50%;
    background-color: #eee;
    font-size: 30px;
    font-weight: bold;
    color: #555;
    transition: all .5s;
    border: 3px solid #fff;
}
.prices .price-item:hover p {
    border: 3px solid var(--main-color);
    color: var(--main-color);
} 
.prices ul {
    line-height: 2;
}


.our-team,
.statistics,
.contact-us {
    background-image: url('images/team/team-background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 30px 0;
}
.our-team :not(:first-child),
.statistics :not(:first-child),
.contact-us :not(:first-child) {
    z-index: 1;
    position: relative;
}
.our-team .team-overlay,
.statistics .statistics-overlay,
.contact-us .contact-us-overlay {
    background-color: rgba(2,2,2,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.our-team h2 {
    color: #fff;
}
.our-team .team-member {
    margin-bottom: 30px;
}
.our-team .team-member img {
    border-radius: 50%;
}
.our-team .team-member h2,
.our-team .team-member p,
.our-team .team-member a {
    color: #fff;
}
.our-team .team-member p.social-icons {
    font-size: 20px;
    
}
.our-team .team-member p.social-icons i {
    margin-right: 7px;
}


.subscribe input {
    width: 50%;
    display: inline-block;
    border-radius: 7px 0 0 7px;
    margin-right: -5px;
}
.subscribe button {
    border-radius: 0 7px 7px 0;
    margin-bottom: 4px;
    background-color: var(--main-color);
}
@media (max-width: 767px) {
        .subscribe input {
            width: 100%;
            display: block;
            border-radius: 7px;
            margin: 0x;
        }
        .subscribe button {
            border-radius: 7px;
            margin-bottom: 0;
            background-color: var(--main-color);
            width: 40%;
        }
}


.statistics {
    background-image: url('images/statistics.jpg');
    color: #fff;
    padding: 60px 0;
}
.statistics .statistics-overlay {
    background-color: rgba(2,2,2,0.7);
}
.statistics h2 {
    margin-bottom: 40px;
    font-size: 40px;
    letter-spacing: 2px;
}
.statistics-item i {
    font-size: 70px;
    color: var(--main-color)
}
.statistics-item .h1 {
    margin: 15px 0;
    font-size: 60px;
    font-weight: bold;
}
.statistics-item p.lead {
    font-size: 18px;
}

.our-skills .skill-progress {
    margin-top: 23px;
}
.our-skills .skill-progress .progress {
    height: 35px;
}
.our-skills .skill-progress .progress-bar {
    font-size: 16px;
    line-height: 35px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}


.contact-us {
    color: #fff;
    background-image: url('images/contact-us.jpg');
    margin-bottom: 0;
}
.contact-us i {
    color: var(--main-color);
}
.contact-us h2 {
    font-size: 35px;
}
.contact-us p {
    color: #bbb;
}
.contact-us input,
.contact-us textarea {
    background-color: #3E3C3B;
    border: 1px solid #222;
}
.contact-us textarea {
    height: 107px;
}


.footer {
    background-color: #111;
    color: #bbb;
    margin: 0;
    padding: 30px 0;
}
.footer h3 {
    margin-bottom: 15px;
    margin-top: 0;
    color: var(--main-color);
}
.footer li {
    margin-bottom: 20px;
}
.footer .our-work-item {
    margin-bottom: 15px;
}
.footer .our-work-item img {
    background-color: #000;
    border: 1px solid #666;
}


.copy-right {
    margin: 0;
    text-align: center;
    background-color: #000;
    color: #888;
    padding: 10px 0;
}
.copy-right p {
    margin: 0;
}
.copy-right p span {
    color: var(--main-color);
}